body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1f1f1f;
  }
  .curve-image-wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 360px; 
    height: 100px;
    margin-bottom: -40px; 
    z-index: 2;
  }
  
  .curve-top-img {
    width: 100%;
    display: block;
    
  }
  
  .signin-header {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 3;
  }
  .signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
  }
  .signin-box {
    background-color: #121212;
    width: 360px;
    padding:  70px 20px;
    border-radius: 8px;
    position: relative;
    color: white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    
  }
 
  
  .photo-upload {
    margin: 30px 0;
  }
  
  .photo-circle {
    width: 120px;
    height: 120px;
    background-color: #b0afad;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .photo-circle img {
    width: 32px;
    height: 32px;
  }
  
  .photo-circle p {
    margin: 5px 0 0;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  
  .input-group {
    width: 90%;
    max-width: 360px;
    background-color: transparent;
    border-bottom: 1px solid #888;
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  
  .input-group img {
    margin-right: 10px;
  }
  
  .input-group input {
    background: none;
    border: none;
    outline: none;
    color: white;
    flex-grow: 1;
    font-size: 14px;
  }
  
  
  .forgot-password {
    width: 90%;
    max-width: 360px;
    text-align: left;
    font-size: 13px;
    color: #ddd;
    margin-top: -10px;
    margin-bottom: 30px;
  }
  
  
  .forgot-password a {
    text-decoration: none;
    color: #ccc;
    font-size: 13px;
  }

  .forgot-password a:hover{
    font-size: 13.5px;
  }
  .signup-button-wrapper {
    display: flex;
    justify-content: center; /* ✅ center horizontally */
  }
  .signup-button-wrapper {
    display: flex;
    justify-content: center; 
  }
  
  .signin-btn {
    width: 50%;
    max-width: 360px;
    padding: 15px;
    background-color: #2d8fad;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.25);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
  }

 


  .signin-btn:hover {
    background-color: #0f6a91;
  }
  
  .signup-text {
    font-size: 14px;
    color: #aaa;
    display: flex;
    justify-content: center;
    
  }
  
  .signup-text a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    
  }
  .signup-text a:hover{
    font-size:14.5px;
  }
  